.news-overview {
	margin-bottom: 50px;

	.post-grid {
		margin-top: 65px;

		.post {
			border: 8px solid $blue;
			width: 100%;
			margin-bottom: 25px;
			overflow: hidden;
			transition: .25s all ease-in;

			a {
				height: 100%;
				display: flex;
				flex-direction: column;
			}

			&:last-of-type {
				margin-right: 0;
			}

			img {
				height: 280px;
				width: 100%;
				display: block;
				object-fit: cover;
			}

			.content {
				flex: 1;
				position: relative;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				background: $blue;
				color: #FFF;
				padding: 25px 20px 20px 20px;

				h5 {
					width: 100%;
					margin-bottom: 2px;
				}

				p {
					width: 100%;
					font-size: 16px;
					line-height: 19px;

					&.date {
						color: $darkblue;
						font-size: 15px;
						margin-bottom: 15px;
					}

					&.excerpt {
						margin-bottom: auto;
					}
				}

				&:before {
					position: absolute;
					top: -30px;
					left: 0;
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 30px 430px;
					border-color: transparent transparent $blue transparent;
				}
			}

			.btn {
				margin-top: 15px;
				span {
					font-size: 14px;
					height: 33px;
					padding: 0 20px 0 10px;
				}

				.fas {
					padding-top: 9px;
					font-size: 8.4px;
					width: 37px;
					right: -18px;
				}
			}

			&:hover {
				transform: translateY(-5px);
			}
		}
	}

	.pagination {
		width: 100%;
		display: flex;
		justify-content: center;

		.page-numbers {
			display: flex;

			li {
				font-size: 20px;
				color: $pink;
				font-weight: 600;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 48px;
				width: 48px;
				border: 3px solid $pink;
				transition: .25s all ease-in;
				margin-right: 10px;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					width: 100%;
					color: $pink;
				}


				&:last-of-type {
					margin: 0;
				}

				.current {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					width: 100%;
					background: $pink;
					color: #FFF;
				}

				&:hover {
					background: $pink;
					color: #FFF;

					a {
						color: #FFF;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.news-overview {
		.post-grid {
			display: flex;
			flex-wrap: wrap;

			.post {
				width: calc(50% - 13px);
				margin-right: 25px;
				margin-bottom: 50px;

				&:nth-of-type(2n) {
					margin-right: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.news-overview {
		.post-grid {
			.post {
				width: calc(33.3333% - 17px);

				&:nth-of-type(2n) {
					margin-right: 25px;
				}

				&:nth-of-type(3n) {
					margin-right: 0;
				}

				&:hover {
					transform: translateY(-5px);
				}
			}
		}
	}
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.news-overview {
		.post-grid {
			.post {
				background: $blue;

				.image-container {
					background: #FFF;
				}

				.content {
					flex: 0 1 auto;
					display: static;
				}
			}
		}
	}
}
