.single-post-content {
	margin-bottom: 60px;

	.content {
		max-width: 885px;
		margin-bottom: 50px;

		ul, ol {
			margin: 0px 0px 30px 20px;

			li {
				&:not(:last-of-type) {
					margin-bottom: 5px;
				}
			}
		}

		ul {
			list-style: disc;
		}

		ol {
			list-style: decimal;
		}

		em {
			font-style: italic;
		}

		.btn {
			span {
				font-size: 19px;
				height: 45px;
				padding: 10px 30px 10px 15px;
			}

			.fas {
				padding-top: 11px;
				font-size: 11.1px;
			}
		}
	}

	.sidebar {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		border: 8px solid $blue;
		max-width: 430px;
		width: 100%;
		overflow: hidden;

		img {
			display: block;
			max-width: 100%;
			height: 250px;
			object-fit: cover;
		}

		.sidebar-content {
			position: relative;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			background: $blue;
			color: #FFF;
			padding: 20px;

			h5 {
				margin-bottom: 3px;
			}

			p {
				margin-bottom: 20px;
			}

			a {
				color: #FFF;
				text-decoration: none;

				&:hover {
					color: $pink;
				}
			}

			&:before {
				position: absolute;
				top: -40px;
				left: 0;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 40px 430px;
				border-color: transparent transparent $blue transparent;
			}
		}

		.social-share {
			display: flex;
			margin-top: 10px;
			margin: 10px 0 30px 0;

			.social-share-link {
				font-size: 20px;
				height: 40px;
				width: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 2px solid #FFF;
				margin-right: 5px;
				transition: .25s all ease-in;

				&.facebook {
					background: #3c5b9b;
				}

				&.twitter {
					background: #3baae1;
				}

				&.linkedin {
					background: #2773b2;
				}

				&:last-of-type {
					margin-right: 0;
				}

				&:hover {
					color: #FFF;
					background: $pink;
				}
			}
		}

		.btn {
			span {
				font-size: 14px;
				height: 33px;
				padding: 0 20px 0 10px;
			}

			.fas {
				padding-top: 9px;
				font-size: 8.4px;
				width: 37px;
				right: -18px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.single-post-content {
		.wrap {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		.content {
			margin-right: 50px;
			margin-bottom: 0;
		}

		.sidebar {
			margin-top: -165px;

			&.animateelement {
				animation-delay: .5s;
			}
		}
	}

	.single-flexible-blocks {
		margin-top: 100px;
	}
}

@media only screen and (min-width: 1024px) {
	.single-post-content {
		margin-bottom: 120px;

		.sidebar {
			img {
				height: 320px;
			}
		}
	}
}

