footer {
	position: relative;
	color: #393939;

	.top-row {
		background: #ffde5c;
		padding-top: 15px;
		padding-bottom: 35px;
	}

	.column {
		margin-bottom: 40px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	h3.h2 {
		color: #4a4634;
		margin-bottom: 20px;
	}

	p {
		color: #393939;
		margin-bottom: 25px;
	}

	form {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		max-width: 650px;
	}

	.wpcf7-submit {
		display: none;
	}

	.wpcf7-form-control-wrap {
		display: block;
		max-width: 320px;
		width: 100%;
		margin-bottom: 20px;

		&:first-of-type {
			margin-bottom: 20px;
		}
	}

	input[type="text"], input[type="email"] {
		height: 45px;
		width: 100%;
		-webkit-apperance: none;
		border: none;
		padding-left: 10px;
		font-size: 16px;
		color: #393939;
		font-weight: 500;
		border: 1px solid #FFF;
		outline: 0;

		&:focus {
			border: 1px solid $pink;
		}
	}

	::-webkit-input-placeholder {
	  font-style: italic;
	  color: #393939;
	}

	span.wpcf7-list-item {
		margin: 0;

		label {
			display: flex;
		}
	}

	input[type="checkbox"] {
		height: 20px;
		width: 20px;
		margin: 0 12px 0 0;
		-webkit-appearance: none;
		flex-shrink: 0;
		cursor: pointer;
		background: #FFF;

		&:checked {
			background: #FFF url('../library/images/tick.svg') center center / 16px 12px no-repeat!important;
		}
	}

	.btn {
		cursor: pointer;
		transition: .25s all ease-in;

		span {
			font-size: 13px;
			height: 33px;
			padding: 0 20px 0 10px;
		}

		.fas {
			padding-top: 9px;
			font-size: 8.4px;
			width: 37px;
			right: -18px;
		}

		&.disabled {
			cursor: not-allowed;
			opacity: 0.6;
		}
	}

	.wpcf7-not-valid-tip {
		margin-top: 2px;
		font-size: 12px;
	}

	.wpcf7-response-output {
		position: absolute;
		bottom: -47px;
		right: 0;
		background: #FFF;
		height: 33px;
		font-size: 14px;

		&.wpcf7-validation-errors {
			border-color: $pink;
		}
	}

	.ajax-loader {
		position: absolute;
		bottom: -15px;
		left: 120px;
	}

	ul {
		line-height: 26px;
	}

	.twitter {
		img {
			max-width: 40px;
			transition: .25s all ease-in;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	a {
		color: #393939;
		text-decoration: underline;
		transition: .25s all ease-in;

		&:hover {
			color: $pink;
		}
	}

	.bottom-row {
		text-align: center;
		padding: 20px 0;
		background: $yellow;

		p {
			text-transform: uppercase;
			font-size: 12px;
			line-height: 24px;
			letter-spacing: .3px;
			margin-bottom: 0;
		}

		img {
			vertical-align: middle;
			margin-bottom: 2px;
		}
	}

	.footer-slant {
		display: block;
		pointer-events: none;
		position: absolute;
		left: -15px;
		bottom: calc(100% - 2px);
		width: calc(100vw + 15px);
	}
}

@media only screen and (min-width: 768px) {
	footer {
		.wrap {
			display: flex;
			flex-wrap: wrap;
		}

		.column {
			min-width: 200px;

			&:last-of-type {
				margin-left: 30px;
			}
		}

		h3 {
			margin-bottom: 30px;
		}

		p {
			font-size: 17px;
			line-height: 24px;
		}

		.wpcf7-form-control-wrap {
			max-width: 320px;
			width: calc(50% - 10px);

			&:first-of-type {
				margin-right: 20px;
			}
		}

		input[type="text"], input[type="email"] {
			padding-left: 10px;
			font-size: 18px;
		}

		ul {
			font-size: 17px;
			line-height: 29px;
		}

		.twitter {
			img {
				max-width: none;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	footer {
		.column {
			&:first-of-type {
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	footer {
		.wrap {
			justify-content: space-between;
		}

		.column {
			&:first-of-type {
				width: auto;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	footer {
		&:before {
			background: url('../library/images/footer-slant.svg') left top / cover no-repeat;
		}
	}
}


.eu-strip {
	padding: 25px 0;
	text-align: center;

	.wrap {
		max-width: 650px;
	}

	img {
		margin-bottom: 15px;
	}

	p {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 0;
		color: #393939;
	}
}

@media only screen and (min-width: 768px) {
	.eu-strip {
		p {
			font-size: 16px;
			line-height: 24px;
		}
	}
}
