header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
	background: #FFF;
	padding: 15px 0;
	height: 85px;

	.header-slant {
		position: absolute;
		display: block;
		left: -30px;
		top: calc(100% - 3px);
		width: calc(100% + 30px);
		height: auto;
	}

	.wrap {
		position: relative;
		display: flex;
		align-items: center;
	}

	.logo {
		max-width: 200px;
		width: 100%;
		height: auto;
		display: block;
		margin-right: auto;
		transition: .25s all ease-in;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}

		&:hover {
			opacity: 0.6;
		}
	}
}

@media only screen and (min-width: 768px) {
	header {
		padding: 25px 0;
		height: 105px;

		.logo {
			max-width: 250px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	header {
		position: relative;
		top: auto;
		left: auto;
		height: auto;
		padding: 0;

		.wrap {
			align-items: flex-start;
		}

		.logo {
			margin-top: 25px;
			margin-bottom: 10px;
			max-width: 240px;
		}
	}
}

@media only screen and (min-width: 1366px) {
	header {
		.wrap {
			align-items: flex-start;
		}

		.logo {
			max-width: 480px;
		}
	}
}
