.menu-toggle {
	position: absolute;
	display: flex;
	align-items: center;
	width: 53px;
	height: 53px;
	position:relative;
	cursor:pointer;
	background: $blue;
	z-index: 6;

	* {
		transition:.25s ease-in-out;
	}

	span {
		background: #FFF;
		display: block;
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position:absolute;
		height:100%;
		width:100%;
		top: 0px;
		left: 0;
		padding: 12px;

		span {
			width: 100%;
			height: 3px;
			position:relative;

			&:first-of-type {
				margin: 0 0 5px;
			}

			&:last-of-type {
				margin: 5px 0 0;
			}

			&:nth-child(1){
				transition-delay:.5s;
			}

			&:nth-child(2){
				transition-delay:.625s;
			}

			&:nth-child(3){
				transition-delay:.75s;
			}
		}
	}

	.cross {
		display: flex;
		justify-content: center;
		align-items: center;
		position:relative;
		height:100%;
		width:100%;
		transform:rotate(45deg);
		padding: 12px;

		span {
			max-width: 29px;
			max-height: 29px;

			&:nth-child(1){
				height:0%;
				width: 3px;
				position:absolute;
				transition-delay:0s;
		  	}

		  	&:nth-child(2){
				width:0%;
				height:3px;
				position:absolute;
				transition-delay:.25s;
		  	}
		}
	}

	&.active {
		.hamburger {
			span {
				width:0%;

				&:nth-child(1){
					transition-delay:0s;
				}

				&:nth-child(2){
					transition-delay:.125s;
				}

				&:nth-child(3){
					transition-delay:.25s;
				}

				&:not(:first-of-type) {
					width: 0%;
				}
			}
		}

		.cross {
			span {
				&:nth-child(1){
					height: 100%;
					transition-delay:.625s;
				}
			}
			span {
				&:nth-child(2){
					width: 100%;
					transition-delay:.375s;
				}
			}
		}
	}
}

header {
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 5;
		background: $blue;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 30px;
		letter-spacing: .5px;
		font-family: $font-heading;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		opacity: 0;
		transition: .25s all ease-in;
		pointer-events: none;
		overflow: auto;

		ul {
			order: 1;
			margin-bottom: 35px;
			opacity: 0;
			transform: translateX(-10px);
			transition: .5s .5s all ease-in;
		}

		li {
			margin-bottom: 25px;

			&:last-of-type {
				margin-bottom: 0;
			}

			a {
				color: #FFF;
				transition: .25s ease-in;
			}

			&:hover, &.current_page_item, &.current_page_parent {
				a {
					color: $darkblue;
				}
			}
		}

		.top-row {
			order: 2;
			display: flex;
			justify-content: flex-end;
			opacity: 0;
			transform: translateX(-10px);
			transition: .5s .5s all ease-in;
		}

		.twitter {
			transition: .25s ease-in all;
			margin-right: 11px;

			img {
				max-width: 33px;
				height: auto;
				display: block;
			}

			&:hover {
				opacity: 0.6;
			}
		}

		.btn {
			span {
				font-size: 14px;
				height: 33px;
				padding: 0 20px 0 10px;
			}

			.fas {
				padding-top: 9px;
				font-size: 8.4px;
				width: 37px;
				right: -18px;
			}
		}

		&.open {
			pointer-events: auto;
			opacity: 1;

			ul, .top-row {
				opacity: 1;
				transform: translateX(0);
			}

			.top-row {
				transition-delay: 1s;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}

	header {
		nav {
			margin-top: 35px;
			position: static;
			top: auto;
			left: auto;
			opacity: 1;
			pointer-events: auto;
			background: none;
			font-weight: 600;
			font-size: 19px;
			letter-spacing: .5px;
			margin-left: 40px;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			width: auto;
			overflow: visible;
			height: 100%;
			margin: 0;

			.menu-main-menu-container {
				order: 2;
				margin: auto 0;
			}

			ul {
				display: flex;
				opacity: 1;
				transform: none;
				margin-bottom: 0;
			}

			li {
				margin-left: 25px;

				a {
					color: $blue;
					transition: .25s ease-in;
				}

				&:hover, &.current_page_item, &.current_page_parent {
					a {
						color: $pink;
					}
				}
			}

			.top-row {
				opacity: 1;
				transform: none;
				margin-bottom: 15px;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	header {
		nav {
			font-size: 19px;

			ul {
				display: flex;
			}

			li {
				margin-left: 25px;

				a {
					color: $blue;
					transition: .25s ease-in;
				}

				&:hover, &.current_page_item, &.current_page_parent {
					a {
						color: $pink;
					}
				}
			}

			.top-row {
				order: 1;
				position: static;
			}
		}
	}
}

@media only screen and (min-width: 1366px) {
	header {
		nav {
			margin: 0;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 19px;
			letter-spacing: .5px;
			font-family: $font-heading;

			ul {
				display: flex;
			}

			li {
				margin-left: 25px;

				a {
					color: $blue;
					transition: .25s ease-in;
				}

				&:hover, &.current_page_item, &.current_page_parent {
					a {
						color: $pink;
					}
				}
			}

			.top-row {
				position: static;
				margin-bottom: 35px;
			}
		}
	}
}

.single-partners {
	nav {
		li {
			&.menu-item-26 {
				a {
					color: $darkblue;
				}
			}

			&.menu-item-24 {
				a {
					color: #FFF;
				}

				&:hover {
					a {
						color: $darkblue;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.single-partners {
		nav {
			li {
				&.menu-item-26 {
					a {
						color: $pink;
					}
				}

				&.menu-item-24 {
					a {
						color: $blue;
					}

					&:hover {
						a {
							color: $pink;
						}
					}
				}
			}
		}
	}
}
