a.btn, .btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	color: #FFF;
	font-family: $font-heading;
	letter-spacing: .5px;
	text-decoration: none;

	&:before {
		content: '';
		background: $yellow;
		position: absolute;
		right: 0px;
		width: 30px;
		height: 100%;
		top: 0;
		will-change: transform;
		transition: .25s ease-in all;
	}

	.fas {
		z-index: 2;
		display: flex;
		justify-content: center;
		font-weight: 900;
		font-size: 16px;
		padding-top: 15px;
		font-family: 'Font Awesome 5 Pro';
		position: absolute;
		color: #FFF;
		top: 0;
		height: 100%;
		width: 76px;
		right: -38px;
		background: url('../library/images/pink-button-triangle.svg') center / contain no-repeat;
		transition: .25s ease-in all;
	}

	span {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		z-index: 2;
		height: 100%;
		background: $blue;
		padding: 0 40px 0 15px;
		height: 65px;
		font-size: 29px;
		transition: .25s ease-in all;
	}

	&.pink {
		span {
			background: $pink;
		}

		&:before {
			background: $yellow;
		}

		.fas {
			color: $pink;
			background: url('../library/images/yellow-button-triangle.svg') center / contain no-repeat;
		}

		&:hover {
			span {
				background: darken($pink, 10%);
			}
		}
	}

	&.white-arrow {
		span {
			background: $blue;
		}

		&:before {
			background: #FFF;
		}

		.fas {
			color: $blue;
			background: url('../library/images/white-button-triangle.svg') center / contain no-repeat;
		}
	}

	&:hover {
		span {
			color: #FFF;
			background: darken($blue, 10%);
		}
	}

	&.dark-blue {
		span {
			background: $darkblue;
		}

		.fas {
			color: $darkblue;
		}
	}

	&:hover {
		span {
			background: darken($blue, 10%);
		}
	}
}
