body {
	padding-top: 85px;

	&.noscroll {
		overflow: hidden;
	}
}

.wrap {
	max-width: 1450px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

@media only screen and (min-width: 768px) {
	body {
		padding-top: 105px;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		padding: 0;

		&.noscroll {
			overflow: auto;
		}
	}

	.wrap {
		padding: 0 40px;
	}
}

.cc-window {
	font-family: $font-default!important;
}

.cc-dismiss {
	border-radius: 0!important;
}

/* ANIMATIONS
================================================ */
.animateelement {
	&.fadein {
		opacity: 0;
	}
	&.fadeup {
		opacity: 0;
		transform: translateY(10px);
	}
	&.fadedown {
		opacity: 0;
		transform: translateY(-10px);
	}
	&.faderight {
		opacity: 0;
		transform: translateX(-10px);
	}
	&.fadeleft {
		opacity: 0;
		transform: translateX(10px);
	}

	&.animate {
		&.fadein {
			animation: 1 1.5s fadeIn forwards;
		}
		&.fadeup {
			animation: 1 1.5s fadeUp forwards;
		}
		&.fadedown {
			animation: 1 1.5s fadeDown forwards;
		}
		&.faderight {
			animation: 1 1.5s fadeRight forwards;
		}
		&.fadeleft {
			animation: 1 1.5s fadeLeft forwards;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeUp {
	from {
		transform: translateY(10px);
		opacity: 0
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeDown {
	from {
		transform: translateY(-10px);
		opacity: 0
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeRight {
	from {
		transform: translateX(-10px);
		opacity: 0
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeLeft {
	from {
		transform: translateX(10px);
		opacity: 0
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Blog image styling
================================================ */
	img.alignright,img.alignleft,img.aligncenter, img.alignnone {
		display: block;
		max-width: 100%;
		height: auto;
	}


	img.alignright {margin: 2em 0;}
	img.alignleft {margin:2em 0;}
	img.alignnone {margin: 2em 0;}
	img.aligncenter {display: block; margin: 2em auto; }
	a img.alignright {float:right; margin:0 0 2em 2em}
	a img.alignleft {float:left; margin:0 2em 2em 0}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto}


	 @media only screen and (min-width: 768px) {
		img.alignright {float:right; margin:0 0 2em 2em}
		img.alignleft {float:left; margin:0 2em 2em 0}
		img.aligncenter {display: block; margin-left: auto; margin-right: auto}
		a img.alignright {float:right; margin:0 0 2em 2em}
		a img.alignleft {float:left; margin:0 2em 2em 0}
		a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
	 }
