/* Font stacks
================================================ */
	$font-heading: 'urbane-rounded', sans-serif;
	$font-default: 'source-sans-pro', sans-serif;;

/* Base Typography
================================================ */
	body {
		font-family: $font-default;
		font-size: 16px;
		line-height: 1.5;
		color: #393939;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-variant-ligatures: none;
	}

	h1, h2, h3, h4, h5 {
		font-family: $font-heading;
		font-weight: 600;
		text-transform: uppercase;
	}

	h1, .h1 {
		font-size: 36px;
		line-height: 36px;
		color: $darkblue;
		margin-bottom: 15px;
	}

	h2, .h2 {
		font-size: 24px;
		line-height: 28px;
		color: $red;
		margin-bottom: 15px;
	}

	h3 {
		font-size: 22px;
		line-height: 28px;
		color: $blue;
		margin-bottom: 15px;
	}

	h4 {
		color: $pink;
		font-size: 21px;
		line-height: 26px;
		margin-bottom: 15px;
	}

	h5 {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 25px;
	}

	@media only screen and (min-width: 768px) {
		h1, .h1 {
			color: $darkblue;
			margin-bottom: 15px;
		}

		h2, .h2 {
			font-size: 29px;
			line-height: 34px;
			color: $red;
			margin-bottom: 15px;
		}

		h3 {
			font-size: 27px;
			line-height: 34px;
			color: $blue;
			margin-bottom: 15px;
		}

		h4 {
			color: $pink;
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 15px;
		}

		h5 {
			font-size: 20px;
			line-height: 22px;
			margin-bottom: 15px;
		}

		p {
			font-size: 19px;
			line-height: 24px;
			margin-bottom: 25px;
		}
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: 600;
	}

/* Links
================================================ */
	a, a:visited {
		text-decoration: none;
	}

	p {
		a {
			color: $blue;
			text-decoration: underline;
			transition: .25s all ease-in;

			&:hover {
				color: $pink;
			}
		}
	}
