.banner {
	position: relative;
	margin-bottom: 80px;

	.slide {
		position: relative;
		display: flex;
		align-items: flex-end;
		height: 250px;
		padding-bottom: 60px;
	}

	.background-image {
		display: none;
	}

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.wrap {
		position: relative;
		z-index: 2;
	}

	.banner-content {
		display: inline-block;
		position: relative;
		background: $darkblue;
		max-width: 475px;
		color: #FFF;
		padding: 25px 25px 20px 25px;

		&.animate {
			animation-delay: .5s;
		}

		.banner-accent {
			display: none;
		}

		.image-container {
			height: 100%;
			position: absolute;
			left: 100%;
			top: 0;

			svg {
				display: none;
			}
		}
	}

	h1, h2, p {
		color: #FFF;
	}

	h1 {
		margin-bottom: 5px;
	}

	h2 {
		@extend h1;
	}

	p {
		font-size: 17px;
		line-height: 20px;
		margin-bottom: 0;
	}

	.slick-dots {
		position: absolute;
		bottom: 20px;
		left: 20px;
		display: inline-flex;

		li {
			position: relative;
			margin-right: 8px;
			height: 15px;
			width: 15px;
			-webkit-appearance: none;
			border: 1px solid #FFF;
			background: none;
			font-size: 0px;
			transition: .5s all;
			cursor: pointer;
			overflow: hidden;
			transition: .25s all ease-in;

			&.slick-active, &:hover {
				background: #FFF;
			}

			&:only-child {
        		display: none;
    		}

			&:last-of-type {
				margin: 0;
			}
		}

		button {
			display: none;
		}
	}
}

.home {
	.banner {
		.slide {
			height: calc(100vh - 85px);
		}
	}
}

@media only screen and (min-width: 768px) {
	.banner {
		.slide {
			height: 445px;
			padding-bottom: 80px;
		}

		.banner-content {
			.banner-accent {
				display: block;
				position: relative;
				z-index: 2;
				height: 100%;
				width: auto;
			}

			.image-container {

			}
		}

		p {
			font-size: 20px;
			line-height: 23px;
		}

		.slick-dots {
			bottom: 35px;
		}
	}

	.home {
		.banner {
			.slide {
				height: calc(100vh - 105px);
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.banner {
		margin-bottom: 120px;

		.slick-dots {
			left: 40px;
			bottom: 35px;
		}

		.home {
			.banner {
				.slide {
					height: calc(100vh - 81px);
				}
			}
		}
	}
}


@media only screen and (min-width: 1280px) {
	.home {
		.banner {
			.slide {
				height: calc(100vh - 96px);
			}
		}
	}
}


@media only screen and (min-width: 1366px) {
	.home {
		.banner {
			.slide {
				height: calc(100vh - 128px);
			}
		}
	}
}

@media only screen and (min-width: 1440px) {
	.banner {
		.slick-dots {
			left: calc((100vw - 1365px) / 2);
		}
	}
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.banner {
		img {
			display: none;
		}

		.background-image {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
}
