.contact-block {
	margin-bottom: 60px;

	h1 {
		margin-bottom: 5px;
	}

	.form-container {
		margin-top: 40px;
	}

	.form-inner {
		position: relative;
		max-width: 625px;
		width: 100%;
		margin-bottom: 40px;
	}

	.wpcf7-submit {
		display: none;
	}

	.wpcf7-form-control-wrap {
		display: block;
		max-width: 625px;
		width: 100%;
		margin-bottom: 20px;
	}

	input[type="text"], input[type="email"], textarea {
		display: block;
		height: 60px;
		width: 100%;
		-webkit-apperance: none;
		border: none;
		padding-left: 10px;
		font-size: 16px;
		color: #393939;
		font-weight: 500;
		border: 3px solid $pink;
		outline: 0;
		resize: none;

		&:focus {
			border: 3px solid $blue;
		}
	}

	textarea {
		padding-top: 10px;
		height: 155px;
	}

	::-webkit-input-placeholder {
	  font-style: italic;
	  color: $pink;
	}

	span.wpcf7-list-item {
		margin: 0;
		font-size: 15px;
		font-weight: 600;
		color: $pink;

		a {
			color: $pink;
			text-decoration: underline;

			&:hover {
				color: $blue;
			}
		}

		label {
			display: flex;
		}

		.wpcf7-list-item-label {
			line-height: 28px;
		}
	}

	input[type="checkbox"] {
		outline: 0;
		height: 28px;
		width: 28px;
		margin: 0 12px 0 0;
		-webkit-appearance: none;
		flex-shrink: 0;
		cursor: pointer;
		background: #FFF;
		border: 3px solid $pink;

		&:checked {
			background: #FFF url('../library/images/tick.svg') center center / 16px 12px no-repeat!important;
		}
	}

	.btn {
		cursor: pointer;
		transition: .25s all ease-in;

		span {
			font-size: 13px;
			height: 33px;
			padding: 0 20px 0 10px;
		}

		.fas {
			padding-top: 9px;
			font-size: 8.4px;
			width: 37px;
			right: -18px;
		}

		&.disabled {
			cursor: not-allowed;
			opacity: 0.6;
		}
	}

	.wpcf7-not-valid-tip {
		margin-top: 2px;
		font-size: 12px;
	}

	.wpcf7-response-output {
		position: absolute;
		bottom: -15px;
		right: 0;
		background: #FFF;
		height: 33px;
		font-size: 14px;

		&.wpcf7-validation-errors {
			border-color: $pink;
		}
	}

	.ajax-loader {
		position: absolute;
		bottom: 0px;
		left: 120px;
	}

	.sidebar {
		h3 {
			margin-bottom: 5px;
		}

		p {
			margin-bottom: 25px;
		}

		.twitter {
			display: block;
		}

		img {
			max-width: 40px;
			transition: .25s all ease-in;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.contact-block {
		.form-container {
			display: flex;
		}

		.form-inner {
			margin-bottom: 0px;
			margin-right: 100px;
		}

		input[type="text"], input[type="email"], textarea {
			font-size: 18px;
		}

		.sidebar {
			&.animate {
				animation-delay: .5s;
			}

			img {
				max-width: none;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.contact-block {
		margin-bottom: 120px;
	}
}
