.feature-boxes {
	margin-bottom: 60px;

	h2 {
		margin-bottom: 55px;
		text-align: center;
	}

	.feature-box {
		position: relative;
		margin-bottom: 35px;

		img {
			display: block;
			max-width: 100%;
			height: 250px;
			object-fit: cover;
		}

		.btn {
			position: absolute;
			bottom: -10px;
			left: -10px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature-boxes {
		margin-bottom: 120px;

		.wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.feature-box {
			width: calc(50% - 29px);
			margin-right: 50px;

			&:nth-of-type(2n) {
				margin-right: 0;
			}

			img {
				display: block;
				max-width: 100%;
				height: 340px;
				object-fit: cover;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.feature-boxes {
		margin-bottom: 120px;

		.wrap {
			flex-wrap: nowrap;
		}

		.feature-box {
			position: relative;
			width: calc(33.33333% - 33px);
			margin-right: 50px;
			margin-bottom: 0;

			&:nth-of-type(2n) {
				margin-right: 50px;
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
}
