.fifty-fifty-image {
	margin-bottom: 60px;

	.image-wrap {
		width: 100%;
		margin-bottom: 40px;
	}

	img {
		display: block;
		width: 100%;
		height: 250px;
		object-fit: cover;
	}

	.btn {
		span {
			font-size: 19px;
			height: 45px;
			padding: 10px 30px 10px 15px;
		}

		.fas {
			padding-top: 11px;
			font-size: 11.1px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.fifty-fifty-image {
		.wrap {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		.image-wrap {
			margin: 0 50px 0 0;
			width: 250px;
			flex-shrink: 0;

			&.animate {
				animation-delay: .5s;
			}
		}

		img {
			object-fit: auto;
			height: auto;
			width: 100%;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.fifty-fifty-image {
		margin-bottom: 120px;

		.image-wrap {
			width: calc(50% - 25px);
		}

		.content {
			width: calc(50% - 25px);
		}
	}
}
