.full-width-text {
	margin-bottom: 60px;

	h1 {
		margin-bottom: 5px;
	}
	h2 {
		margin-bottom: 25px;
	}
}

@media only screen and (min-width: 1024px) {
	.full-width-text {
		margin-bottom: 120px;
	}
}
