.full-width-image {
	margin-bottom: 120px;
	background: #f2f2f2;
	padding: 65px 0 75px 0;

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h2 {
		margin-bottom: 40px;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}
