.news-strip {
	color: #FFF;
	margin-bottom: 60px;

	h3 {
		text-align: center;
		color: #FFF;
		margin-bottom: 20px;
	}

	.twitter-feed {
		padding: 25px;
		width: 100%;
		background: -webkit-linear-gradient(left, rgb(211,45,69) 0%, rgb(223,76,115) 98%);
		background: -o-linear-gradient(left, rgb(211,45,69) 0%, rgb(223,76,115) 98%);
		background: linear-gradient(to right, rgb(211,45,69) 0%, rgb(223,76,115) 98%);
		text-align: center;

		a {
			color: #FFF;
			transition: .25s all ease-in;

			&:hover {
				color: $blue;
			}
		}

		.tweet {
			max-width: 440px;
			margin: 0 auto;
		}

		p {
			margin-bottom: 15px;
		}

		.tweet-actions {
			display: flex;
			justify-content: center;

			a {
				display: block;
				margin-right: 10px;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}

	.latest-news {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 25px;
  		background-image: -webkit-linear-gradient(left, rgb(26,160,208) 0%, rgb(40,111,180) 100%);
  		background-image: -o-linear-gradient(left, rgb(26,160,208) 0%, rgb(40,111,180) 100%);
  		background-image: linear-gradient(to right, rgb(26,160,208) 0%, rgb(40,111,180) 100%);
	}

	img {
		display: block;
		width: 100%;
		max-width: 375px;
		height: 150px;
		object-fit: cover;
		margin-bottom: 20px;
	}

	h5 {
		margin-bottom: 8px;
	}

	p {
		font-size: 18px;
		margin-bottom: 15px;
	}

	.btn {
		span {
			font-size: 14px;
			height: 33px;
			padding: 0 20px 0 10px;
		}

		.fas {
			padding-top: 9px;
			font-size: 8.4px;
			width: 37px;
			right: -18px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.news-strip {
		h3 {
			margin-bottom: 30px;
		}

		.twitter-feed {
			padding: 50px 0;
		}

		.latest-news {
			justify-content: center;
			padding: 50px 0;
		}

		.latest-post {
			display: flex;
			align-items: flex-start;
		}

		img {
			max-width: 150px;
			width: 100%;
			height: 120px;
			margin: 0 20px 0 0;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.news-strip {
		margin-bottom: 120px;

		.wrap {
			display: flex;
			align-items: center;
		}

		.twitter-feed {
			width: 50%;
		}

		.latest-news {
			padding: 65px 90px 105px 65px;
			width: 50%;

	  		&.animate {
	  			animation-delay: .5s;
	  		}
		}
	}
}
