.partner-content {
	margin-bottom: 60px;

	.content {
		max-width: 885px;
		margin-bottom: 50px;

		.btn {
			span {
				font-size: 19px;
				height: 45px;
				padding: 10px 30px 10px 15px;
			}

			.fas {
				padding-top: 11px;
				font-size: 11.1px;
			}
		}
	}

	.sidebar {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		border: 8px solid $blue;
		max-width: 430px;
		width: 100%;
		overflow: hidden;

		.image-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 320px;
			padding: 0 20px 40px 20px;
			background: #FFF;

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}

		.sidebar-content {
			position: relative;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			background: $blue;
			color: #FFF;
			padding: 20px;

			h5 {
				margin-bottom: 3px;
			}

			p {
				margin-bottom: 20px;
			}

			a {
				color: #FFF;
				text-decoration: none;

				&:hover {
					color: $pink;
				}
			}

			&:before {
				position: absolute;
				top: -40px;
				left: 0;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 40px 430px;
				border-color: transparent transparent $blue transparent;
			}
		}

		.btn {
			span {
				font-size: 14px;
				height: 33px;
				padding: 0 20px 0 10px;
			}

			.fas {
				padding-top: 9px;
				font-size: 8.4px;
				width: 37px;
				right: -18px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.partner-content {
		.wrap {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		.content {
			margin-right: 50px;
			margin-bottom: 0;
		}

		.sidebar {
			margin-top: -165px;
		}
	}
}

@media only screen and (min-width: 768px) {
.partner-content {
		margin-bottom: 120px;
	}
}
