.partners-overview {
	margin-bottom: 50px;

	h1 {
		margin-bottom: 10px;
	}

	.partners-grid {
		margin-top: 65px;
	}

	.partner {
		border: 8px solid $blue;
		width: 100%;
		margin-bottom: 25px;
		overflow: hidden;
		transition: .25s all ease-in;

		a {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.image-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 210px;
			padding: 0 20px 30px 20px;

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}

		.content {
			flex: 1;
			position: relative;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			background: $blue;
			color: #FFF;
			padding: 17px;

			h5 {
				width: 100%;
				margin-bottom: auto;
			}

			&:before {
				position: absolute;
				top: -30px;
				left: 0;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 30px 320px;
				border-color: transparent transparent $blue transparent;
			}
		}

		.btn {
			margin-top: 25px;

			span {
				font-size: 14px;
				height: 33px;
				padding: 0 20px 0 10px;
			}

			.fas {
				padding-top: 9px;
				font-size: 8.4px;
				width: 37px;
				right: -18px;
			}
		}

		&:hover {
			transform: translateY(-5px);
		}
	}
}

@media only screen and (min-width: 768px) {
	.partners-overview {
		.partners-grid {
			display: flex;
			flex-wrap: wrap;
		}

		.partner {
			width: calc(50% - 13px);
			margin-right: 25px;

			&:nth-of-type(2n) {
				margin-right: 0;
			}

			.content {
				&:before {
					border-width: 0 0 30px 340px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.partners-overview {
		.partner {
			width: calc(33.3333% - 17px);
			margin-bottom: 50px;

			&:nth-of-type(2n) {
				margin-right: 25px;
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.partners-overview {
		.partner {
			width: calc(25% - 19px);

			&:nth-of-type(3n) {
				margin-right: 20px;
			}


			&:nth-of-type(4n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.partners-overview {
		.partner {
			background: $blue;

			.image-container {
				background: #FFF;
			}

			.content {
				flex: 0 1 auto;
				display: static;
			}
		}
	}
}
