.partners-carousel {
	overflow: hidden;
	margin-bottom: 60px;

	h2 {
		color: $red;
		text-align: center;
		margin-bottom: 50px;
	}

	.slick-track {
		display: flex;
		align-items: center;
	}

	.slick-list {
		margin: 0 -30px;
	}

	.item {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 30px;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.slick-dots {
		margin-top: 45px;
		width: 100%;
		display: inline-flex;
		justify-content: center;

		li {
			position: relative;
			margin-right: 8px;
			height: 15px;
			width: 15px;
			-webkit-appearance: none;
			border: 1px solid $pink;
			background: none;
			font-size: 0px;
			transition: .5s all;
			cursor: pointer;
			overflow: hidden;
			transition: .25s all ease-in;

			&.slick-active, &:hover {
				background: $pink;
			}

			&:last-of-type {
				margin: 0;
			}
		}

		button {
			display: none;
		}
	}
}

@media only screen and (min-width: 768px) {
	.partners-carousel {
		h2 {
			margin-bottom: 50px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.partners-carousel {
		margin-bottom: 120px;
	}
}
