.publications-content {
	margin-bottom: 60px;

	h1 {
		margin-bottom: 5px;
	}

	h2 {
		margin-bottom: 40px;
	}

	.publication {
		background: $blue;
		color: #FFF;
		margin-bottom: 30px;
		padding: 30px;

		&:first-of-type {
			margin-top: 60px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		p {
			margin-bottom: 20px;
		}

		.btn {
			span {
				font-size: 14px;
				height: 33px;
				padding: 0 20px 0 10px;
			}

			.fas {
				padding-top: 9px;
				font-size: 8.4px;
				width: 37px;
				right: -18px;
			}
		}
	}

	.sidebar {
		margin-top: 50px;
		position: relative;
		max-width: 460px;
		width: 100%;

		img {
			display: block;
			max-width: 100%;
			height: 250px;
			object-fit: cover;
		}

		.btn {
			position: absolute;
			bottom: 15px;
			left: 15px;
		}

		&.animate {
			animation-delay: .5s;
		}
	}
}

@media only screen and (min-width: 768px) {
	.publications-content {
		.wrap {
			display: flex;
			align-items: flex-start;
		}

		.sidebar {
			max-width: 250px;
			flex-shrink: 0;
			margin: 0 0 0 50px;

			img {
				height: 250px;
			}

			.btn {
				bottom: -10px;
				left: -10px;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.publications-content {
		margin-bottom: 120px;

		.sidebar {
			max-width: 460px;
			width: 100%;

			img {
				height: 340px;
			}
		}
	}
}
