.text-w-sidebar {
	margin-bottom: 80px;

	h1 {
		margin-bottom: 5px;
	}

	h2 {
		margin-bottom: 25px;
	}

	.sidebar {
		margin-top: 50px;
		position: relative;
		max-width: 460px;
		width: 100%;

		img {
			display: block;
			max-width: 100%;
			height: 250px;
			object-fit: cover;
		}

		.btn {
			position: absolute;
			bottom: 15px;
			left: 15px;
		}

		&.animate {
			animation-delay: .5s;
		}
	}
}

@media only screen and (min-width: 768px) {
	.text-w-sidebar {
		.wrap {
			display: flex;
			align-items: flex-start;
		}

		.sidebar {
			max-width: 250px;
			flex-shrink: 0;
			margin: 0 0 0 50px;

			img {
				height: 250px;
			}

			.btn {
				bottom: -10px;
				left: -10px;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.text-w-sidebar {
		margin-bottom: 120px;

		.sidebar {
			max-width: 460px;
			width: 100%;

			img {
				height: 340px;
			}
		}
	}
}
